{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "SQL_CONNECTION_STRING": "Server=tcp:<your-sql>.database.windows.net,1433;Database=examdb;User ID=sqladmin;Password=<from-key-vault>;Encrypt=true;TrustServerCertificate=false;"
  }
}
